{% extends "auctions/layout.html" %}

{% block body %}
    {% if show_listings == False %}
    <div class="d-flex mx-5 justify-content-center">
        {% for core in Category %}
            <form action="{% url 'core_list' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="core" value="{{ core.category_core }}">
              <input type="submit" class="btn btn-primary mx-3" value="{{ core.category_core }}">
            </form>
        {% endfor %}
        </div>
    {% else %}
    <h2>Wands with {{ core }} core</h2>
    <div class="row mx-13">
        {% for listing in listings %}
        <div class="card mb-3 mx-auto" style="max-height: 350px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{{ listing.img_url }}" class="mx-5" style="max-width: 350px;" alt="wand image">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h4 class="card-title">{{ listing.title }}</h4>
                  <h6 class="card-title"><strong>Current Price: ${{ listing.bid.bid }}</strong></h6>
                  <h6 class="card-title"><strong>Core: {{ listing.category }}</strong></h6>
                  <h6 class="card-title"><strong>Length: {{ listing.length }} inches</strong></h6>
                  <p class="card-text text-justify">{{ listing.description }}</p>
                  <div class="text-center"><a href="{% url 'listing' id=listing.id %}" class="btn btn-primary">View Details</a></div>
                </div>
              </div>
            </div>
          </div>
        {% empty %}
        <h2>No Listing Yet...</h2>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}