{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    </head>
    <body style="max-width: 80%; background: linear-gradient(rgb(255, 215, 155), rgb(255, 234, 206)); background-attachment: fixed;" class="mx-auto">
        <div class="text-center">
            <h1>OLLIVANDERS</h1>
            <h3>MAKERS OF FINE WANDS</h3>
            <h5>SINCE 382 BC</h5>
        </div>
        <div class="d-flex align-items-center justify-content-between">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'closed' %}">Closed Listings</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'watchlist_listings' %}">Watchlist</a>
                    </li>
                    <li class="nav-item">
                        <a class = "nav-link" href="{% url 'create' %}">Create Listing</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core_list' %}">Search By Core</a>
                </li>
            </ul>
            <div class="nav d-flex align-items-center">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
                {% if user.is_authenticated %}
                    <span>Signed in as <strong>{{ user.username }}</strong>.</span>
                {% else %}
                    Not signed in.
                {% endif %}
            </div>
        </div>
        <hr>
        {% block body %}
        {% endblock %}
    </body>
</html>
